* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
}

.active:hover {
    color: white;
    cursor: pointer;
}

body , html {
    overflow-x: hidden;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url(/images/car-bg.jpg);
    background-position: center;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    padding: 20px;
    color: white;
    align-items: center;
    text-align: center;
}

.logo {
  height: 40px;
width: auto;
position: relative;
vertical-align: top;
display: inline-block;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
padding-right: 5px;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: 250px;
}


.nav-links li {
    margin: 0 25px;
    text-align: center;

}

header {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    color: white;
    text-align: left;
    margin-right: 400px;
    margin-bottom: 130px;
}

.header-content h1 {
    font-size: 5vmax;
    padding: 25px;
    margin-bottom: -5px;
    margin-left: -35px;
    color: rgb(48, 190, 247);
    font-weight: bolder;
}

.header-content h3 {
    font-size: 4.6vmin;
    font-weight: lighter;
    margin-bottom: 28px;
}

.ctn-1 {
    padding: 8px 12px;
    background: rgb(48, 190, 247);
    color: white;
    cursor: pointer;
}

.ctn-2 {
    font-size: 4.5vmin;
    padding: 5px 10px;
    background: rgb(48, 190, 247);
    color: white;
    text-align: center;
}

.footer{
    width: 100%;
    min-height: 70px;
    padding: 20px 80px;
    margin: 0;
    background: black;
    justify-content: center;

}
.adress {
    text-align: left;
}

.location {
    font-size: 20px;
    color: rgb(48, 190, 247);
    font-weight: bolder;   
}

.locate {
    font-weight: lighter;
}

.phone-no {
    text-align: center;
    margin: -47px auto;
}

.phone {
    margin-right: 60px;
    font-size: 20px;
    color: rgb(48, 190, 247);
    font-weight: bolder;
}

.no {
    font-weight: lighter;
}

.mail-id {
    text-align: right;
    margin: -47px auto;
}

.mail {
    margin-right: 152px;
    font-size: 20px;
    color: rgb(48, 190, 247);
    font-weight: bolder;
}

.email {
    font-weight: lighter;
    margin-right: 9px;
}

